[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-socketio = {extras = ["asyncio_client"], version = "*"}
websockets = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
